html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/*Custom */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 600;
  line-height: 1.5;
}
p {
  margin: 0 0 12px;
}
ul,
ol,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222831;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.n-m {
  margin: 0 !important;
}

/*Layouts */
.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  max-width: 95%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

/* Alert */
.alert {
  position: relative;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

/* Padding */
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.subtr-30 {
  margin-left: -30px;
  margin-right: -30px;
}

/* Margin */
.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-left {
  justify-content: flex-start !important;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

/* Btn Menu */

.btn-menu {
  width: 27px;
  height: 20px;
  background-color: transparent;
  display: none;
  cursor: pointer;
  position: relative;
}

.btn-menu span {
  height: 1.5px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #333;
}

.btn-menu span:nth-child(1) {
  top: 3px;
}

.btn-menu span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}

.btn-menu span:nth-child(3) {
  bottom: 3px;
}

/* breadcrumbs */
#breadcrumbs {
  font-size: 16px;
}

#breadcrumbs .breadcrumb_last {
  font-weight: 600;
  font-size: 14px;
}

/* Facbook comments */
#comments {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #d6d6d6;
}

#comments .title {
  text-align: left;
  font-size: 17px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}

/* Form */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  outline: none;
  border: 1px solid #e5e5e5;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
  line-height: 40px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #c3bdbd;
}

.form-input > input,
.form-input > textarea {
  width: 100%;
  border-radius: 3px;
}

.form-input > label {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  font-weight: 600;
}

.form-input {
  margin: 0 0 15px;
}

input[type="submit"],
button[type="submit"] {
  cursor: pointer;
}

/* Backtop */
#back-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  transform: translateY(100px);
  background-color: rgb(34, 46, 104);
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#back-top.active {
  transform: translateY(0);
}

/* FORM POPUP */
.block-form-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.block-form-popup .login-form {
  width: 410px;
  max-width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.form-close {
  float: right;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  transform: rotate(15deg);
  cursor: pointer;
}

.login-form .btn-submit {
  width: 100%;
}

.block-form-popup.active {
  display: block;
}

/* Grid */
@media only screen and (min-width: 1200px) {
  .xl1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .xl2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .xl3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xl4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .xl5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .xl6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xl7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .xl8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .xl9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .xl10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .xl11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .xl12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .xlnone {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .l1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .l2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .l3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .l5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .l6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .l8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .l9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .l11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .l12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .lnone {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .m1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .m2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .m3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .m5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .m6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .m8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .m9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .m11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .m12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row.row-m-column {
    flex-direction: column;
  }

  .m-mb-30 {
    margin-bottom: 30px;
  }

  .m-none {
    display: none;
  }

  .mimg-100 {
    width: 100%;
  }

  .plr-30 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .subtr-30 {
    margin-right: -15px;
    margin-left: -15px;
  }

  /* Btn Menu */
  .btn-menu {
    display: block;
  }

  .btn-menu.active span:nth-child(1) {
    transform: rotate(-45deg) translateX(-9px);
  }

  .btn-menu.active span:nth-child(3) {
    transform: rotate(45deg) translateX(-8px);
  }

  .btn-menu.active span:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .s1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .s2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .s3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .s4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .s5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .s6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .s7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .s8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .s9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .s10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .s11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .s12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sb-20 {
    margin-bottom: 20px;
  }

  .snone {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .xs1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .xs2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .xs3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xs4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .xs5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .xs6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xs7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .xs8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .xs9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .xs10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .xs11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .xs12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .xsnone {
    display: none;
  }
}

.ladi-group {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.ladi-group span {
  width: 12px;
  height: 12px;
  background-color: #f47a43;
  margin: 0 5px;
  border-radius: 50%;
}

.ladi-group span:nth-child(2) {
  background-color: #f19871;
}

.ladi-group span:nth-child(3) {
  background-color: #f9c4ac;
}

.ladi-group span:nth-child(4) {
  background-color: #fde6da;
}

.demo-box .action-wrap a:hover {
  background-color: #f19871;
}

/* Title box */
.block-title .title {
  text-transform: capitalize;
  margin: 0 0 8px;
  font-size: 20px;
}

.block-title {
  text-align: center;
  margin: 0 0 35px;
}

.block-title .title span {
  color: #f47a43;
}

.block-title .read-more {
  text-transform: uppercase;
  border-bottom: 1px solid #f47a43;
  color: #f47a43;
}

/* Btn */
.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #333;
  color: rgb(255, 255, 255) !important;
  padding: 0 15px;
  line-height: 40px;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.btn.btn-danger {
  background-color: #f47a43;
}

.btn:hover {
  background-color: #f47a43;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

html,
body {
  font-size: 14px;
  line-height: 1.7;
  color: #333;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  width: 30px;
  display: block;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.socials li:hover a {
  transform: translateY(-3px);
}

.quantif {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.quantif span,
.quantif input {
  width: 50px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  color: #17171d;
  border: 1px #f2f2f2 solid;
  padding: 0;
}

/* Slider */
button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
  width: 30px;
  display: block;
  height: 30px;
  border-radius: 50%;
  background-color: #222E68;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  z-index: 9;
  cursor: pointer;
  border: 0;
}

.slick-arrow::after {
  content: "";
  font-family: "FontAwesome";
  font-size: 20px;
}

.slick-arrow.slick-prev::after {
  content: "\f104";
}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-next::after {
  content: "\f105";
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slick-dots li {
  margin: 0 5px;
  width: 35px;
  height: 5px;
  line-height: 20px;
  background-color: #222E68;
  cursor: pointer;
}

.slick-dots .slick-active {
  background-color: #F37A43;
}

.slick-dots button {
  border: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: transparent;
  display: none;
}